# Import ?

In [1]:
import pandas as pd

# Charger les données ?

In [18]:
marketing = pd.read_csv(
    'C:/YEGA/MASTER/MASTER 2/13. Exploitation des données/TP 2/Marketing.csv'
)

ca = pd.read_csv(
    'C:/YEGA/MASTER/MASTER 2/13. Exploitation des données/TP 2/CA.csv'
)
print(marketing)
print(ca)
type(marketing)
type(ca)

           Date  Marketing Spend           Promo
0    22/12/2020      1024.500000   Promotion Red
1    23/12/2020      1181.700000  Promotion Blue
2    24/12/2020      1955.000000        No Promo
3    25/12/2020      2336.777778  Promotion Blue
4    26/12/2020      4535.375000  Promotion Blue
..          ...              ...             ...
119  05/05/2021      1119.600000        No Promo
120  06/05/2021      2067.888889   Promotion Red
121  07/05/2021      1450.200000        No Promo
122  08/05/2021      1121.875000        No Promo
123  09/05/2021       871.000000        No Promo

[124 rows x 3 columns]
           Date   Day_Name  Visitors  Revenue
0    09/11/2020     Monday       707     5211
1    10/11/2020    Tuesday      1455    10386
2    11/11/2020  Wednesday      1520    12475
3    12/11/2020   Thursday      1726    14414
4    13/11/2020     Friday      2134    20916
..          ...        ...       ...      ...
114  03/03/2021  Wednesday      1068     8223
115  04/03/2021   Thursday      1976    16727
116  05/03/2021     Friday      1806    15474
117  06/03/2021   Saturday      1621    12850
118  07/03/2021     Sunday      1001     6681

[119 rows x 4 columns]

pandas.core.frame.DataFrame

# head() Vs. tail() ?

# Afficher les types des colonnes ?

customerid      int64
age           float64
salary          int64
balance         int64
marital        object
jobedu         object
targeted       object
default        object
housing        object
loan           object
contact        object
day             int64
month          object
duration       object
campaign        int64
pdays           int64
previous        int64
poutcome       object
response       object
dtype: object

# Extract job & Education in newly from "jobedu" column ?

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45207,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45208,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45209,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45210,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

# Splitter la col "duration" pour obtenir les durées et les unités ("sec" et "min") ?

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45207,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45208,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45209,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45210,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

# Combiner les colonnes day et month en col `Date` : '%d/%m/%Y' ?

datetime64[ns]

,customerid,age,salary,balance,marital,jobedu,targeted,default,housing,loan,...,month,duration,campaign,pdays,previous,poutcome,response,date_str,date_us,date_fr
0,1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,...,"may, 2017",261 sec,1,-1,0,unknown,no,"5 may, 2017",2017-05-05,2017-05-05
1,2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,...,"may, 2017",151 sec,1,-1,0,unknown,no,"5 may, 2017",2017-05-05,2017-05-05
2,3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,...,"may, 2017",76 sec,1,-1,0,unknown,no,"5 may, 2017",2017-05-05,2017-05-05
3,4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,...,"may, 2017",92 sec,1,-1,0,unknown,no,"5 may, 2017",2017-05-05,2017-05-05
4,5,33.0,0,1,single,"unknown,unknown",no,no,no,no,...,"may, 2017",198 sec,1,-1,0,unknown,no,"5 may, 2017",2017-05-05,2017-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,...,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes,"17 nov, 2017",2017-11-17,2017-11-17
45207,45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,...,"nov, 2017",7.6 min,2,-1,0,unknown,yes,"17 nov, 2017",2017-11-17,2017-11-17
45208,45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,...,"nov, 2017",18.7833333333333 min,5,184,3,success,yes,"17 nov, 2017",2017-11-17,2017-11-17
45209,45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,...,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no,"17 nov, 2017",2017-11-17,2017-11-17
45210,45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,...,"nov, 2017",6.01666666666667 min,2,188,11,other,no,"17 nov, 2017",2017-11-17,2017-11-17

# Vérifier les données manquantes ?

# Résumé statistique de la col "Age" (moyenne, medianne, max, ...) et la représenter graphiquement ?

# Trier la data suivant la col "Age" ?

# Supprimer les données manquantes de la col "Age" ?

# Remplir les données manquantes de la col "Month" avec le mois qui revient le plus ?

# Supprimer les données manquantes de la col "response" ?

# Chercher les valeurs extrêmes des cols numériques ?

# Décrire les col de type Categorical : Recherche d'Outlier, value_counts(), ... ?

# Analyse bivariée : Numéric - Numéric

# Creating a correlation matrix using age, salry, balance ?

# Analyse Bivariée : Numéric -  Categorical

# Bivariée Categorical - Categorical